@font-face {
    font-family: 'utopian';
    src: url('Utopian-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neeta';
    src: url('neeta.init-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.link {
  cursor: pointer;
}

.hide-videos {
  opacity: 0;
}

.show-videos {
  opacity: 1;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;

}

.hide-more {
  opacity: 0;
  pointer-events: none;
}

.show-more {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
  transition-delay: 5s;
}

/* Video Stuff */
.videos {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;

}
.video {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.active {
  pointer-events: auto;
}

.hide-video {
  pointer-events: none;
  opacity: 0;
}

.videoWrapper {
  cursor: pointer;
  float: none;
  clear: both;
  width: 100%;

	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
  pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Content */

.about-the-show {
  font-family: 'neeta';
  font-size: 24px;
  line-height: 1.4em;
  color: white;

  max-width: 1000px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

#students {
  line-height: 1.0em;
}
.hide-text {
  display: none;
}

.david {
  font-family: 'grotesque_mtbold';
  font-size: 22px;
}

.lily {
  font-family: 'utopian';
}

.link {
  border-bottom: 3px solid white;
}
.link:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

@media (max-width: 1024px) {
  .videos {
    flex-direction: column;
    position: static;
  }
  .video {
    width: 100%;
    height: auto;
    display: block;
    flex-direction: row;
  }

  .about-the-show {
    /*font-size: 54px;*/
  }
}
