@font-face {
    font-family: 'utopian';
    src: url('Utopian-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neeta';
    src: url('neeta.init-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

iframe {
  background-color: black;
}

.link {
  cursor: pointer;
}

.hide-videos {
  opacity: 0;
}

.show-videos {
  opacity: 1;

  -webkit-transition: opacity 5s ease-in;
  transition: opacity 5s ease-in;

}


/* Video Stuff */
.videos {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;

  transition-delay: 2s;
  -webkit-transition-delay: 2s;

}
.video {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.active {
  pointer-events: auto;
}

.videoWrapper {
  cursor: pointer;
  float: none;
  clear: both;
  width: 100%;

	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
  pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Content */

.about-the-show {
  font-family: 'neeta';
  font-size: 18px;
  line-height: 1.4em;
  color: white;

  max-width: 1000px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

@keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }
@-webkit-keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@-webkit-keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@-webkit-keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }

.dots {
  display: none;
  font-family: 'grotesque_mtbold';
}

.dots span {
    animation: dots-1 3s infinite steps(1);
    -webkit-animation: dots-1 3s infinite steps(1);
}

.dots span:first-child + span {
    animation-name: dots-2;
    -webkit-animation-name: dots-2;
}

.dots span:first-child + span + span {
    animation-name: dots-3;
    -webkit-animation-name: dots-3;
}

#title {
  white-space: pre;
}

#students {
  line-height: 1.0em;
}

#vislogo {
  text-align: right;
}
.hide-text {
  display: none;
}

.david {
  font-family: 'grotesque_mtbold';
  font-size: 16px;
}

.lily {
  font-family: 'utopian';
}

.link {
  border-bottom: 2px solid white;
}
.link:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

@media (max-device-width : 736px) and (orientation : portrait) {
  .videos {
    flex-direction: column;
    position: static;
  }
  .video {
    width: 100%;
    height: auto;
    display: block;
    flex-direction: row;
  }

  .videoWrapper iframe {
    pointer-events: none;
  }

  .about-the-show {
    font-size: 24px;
  }

  .david {
    font-size: 22px;
  }

  .link {
    border-bottom: 3px solid white;
  }
